
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive ">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                    <table class="table" id="ui-table">
                        <thead class="text-black">
                            {% with columns = results['columns'] %}
                                {% if columns %}
                                    {% for colonne in columns %}
                                        <th>{{ colonne }}</th>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <th></th>
                        </thead>
                        <tbody>
                            {% if results['items'] %}
                                {% for line in results['items'] %}

                                    <tr>
                                        {% for key in line.keys()%}
                                            {% if key != 'status' %}
                                                <td>{{ line[key]|safe }}</td>
                                            {% endif %}
                                        {% endfor %}
                                        <td>
                                            <div class="btn-group-lg">

                                                {% if results['_manage']['view']%}
                                                    <a role="button" class="btn-md"
                                                       href="{{ url_for(results['_manage']['view'],
                                                            _id=line['id']) }}"><i class="fa fa-print"></i></a>
                                                {%endif%}
                                                {% if results['_manage']['edit'] %}
                                                    <a role ="button" class="btn-md btn-outline-info"
                                                       href="{{ url_for(results['_manage']['edit'],
                                                                _id=line['id']) }}"><i class="fa fa-pen"></i></a>
                                                {% endif %}
                                                {% if results['_manage']['delete']  %}
{#                                                    {% if 'status' not in line.keys() %}#}
{#                                                        <a role="button" class="btn-md btn-outline-danger"#}
{#                                                               href="{{ url_for(results['_manage']['delete'],#}
{#                                                                    _id=line['id']) }}"><i class="fa fa-eye"></i></a>#}
{#                                                    {% endif %}#}

                                                    {% if 'status' in line.keys() and line['status'] == 1 %}

                                                        <a class="btn-sm btn-outline-danger"
                                                       href="{{ url_for(results['_manage']['delete'],
                                                            _id=line['id']) }}">تعطيل</a>
                                                    {% elif 'status' in line.keys() and line['status'] == 0 %}
                                                        <a role="button" class="btn-md btn-outline-success"
                                                       href="{{ url_for(results['_manage']['delete'],
                                                            _id=line['id']) }}">تفعيل</a>

                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        {# {{ url_for(results['_manage']['view'],_id=line['id']) }} #}

                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>

                </div>

        </div>

            {% if results['items']%}
                <div class="card-footer content-center right">
                    <nav class ="d-flex justify-content-start" aria-label="Pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="{{ results['_links']['first'] }}"
                                                     data-toggle="tooltip" data-placement="bottom" title="First page">
                                    <i class="fa fa-angle-double-right"></i>
                                </a></li>
                            {% if results['_links']['prev'] %}
                                <li class="page-item" ><a role="button" class="page-link" href="{{ results['_links']['prev'] }}">
                                <i class="fa fa-angle-right"></i></a></li>
                            {% else %}
                                <li class="page-item"><a  class="page-link" href="#">
                                <i class="fa fa-angle-right"></i></a></li>
                            {% endif %}
                            {% if results['_links']['next'] %}
                                <li class="page-item"><a class="page-link" href="{{ results['_links']['next'] }}">
                                <i class="fa fa-angle-left"></i></a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="#">
                                <i class="fa fa-angle-left"></i></a></li>
                                {% endif %}
                            {%if results['_meta']['total_pages'] > 1%}
                                <li class="page-item"><a class="page-link" href="{{ results['_links']['last'] }}"
                                                         data-toggle="tooltip" data-placement="bottom" title="Last page">
                                    <i class="fa fa-angle-double-left"></i></a>
                                </li>
                            {% else %}
                                <li class="page-item" >
                                    <a class="page-link" href="{{ results['_links']['last'] }}" data-toggle="tooltip"
                                       data-placement="bottom" title="Last page">
                                        <i class="fa fa-angle-double-left"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            {% endif %}
    </div>

</div>