{% extends "layout.html" %}
{% block nav_bar %}
	<nav class="navbar navbar-dark sticky-top bg-dark">

		<a class="navbar-brand mr-1" href="{{ url_for('admin', arg='home')}}">زكـــاة</a>		 
		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
		<ul class="navbar-nav navbar-right">
			<li class="nav-item">
				<a href="{{ url_for('logout') }}" class="nav-link">تسجيـــل الخروج</a>
			</li>
		</ul>
	</nav>
{% endblock nav_bar %}

{% block side_bar %}
	<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
		<div class="sidebar-sticky pt-3">
			<h2 class="h2">لوحــة التحكـــم</h2>
			<ul class="navbar-nav flex-column">
				<li class="nav-item">
					<li class="active">
						<a class="nav-link" href="{{ url_for('admin', arg='home')}}">احصائيـــــات</a>
					</li>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('admin', arg='Mosques') }}">المساجـــد</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('admin', arg='Donneurs') }}">المتبرعين</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('admin', arg='Criteres')}}">معايير تصنيف المحتاجين</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('admin', arg='Projets')}}">المشاريــــع</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('update_parameters')}}">ضبـــــط الاإعدادات</a>
				</li>
			</ul>
		</div>
	</nav>
	
{% endblock side_bar %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h1">لوحــة التحكـــم</h1>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						<h5 class="h5">
							عـدد المسجليـن
						</h5>
					</div>
					<div class="text-right card-body">
						<h1 class="h1">
							{{ content['Mosques']['total_inscrits'] }}
						</h1>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						<h5 class="h5">
							
							عــدد المساجـــد

						</h5>
					</div>
					<div class="text-right card-body">
						<h1 class="h1">
							{{ content['Mosques']['all_mosque'] }} 
						</h1>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						<h5 class="h5">
							عــدد المتبرعيــــن
						</h5>
					</div>
					<div class="text-right card-body">
						<h1 class="h1">
							{{ content['Donneur']['all_donneur']}}
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock content %}

