{% extends "layout.html" %}
{% block nav_bar %}
	<nav class="navbar navbar-dark sticky-top bg-dark">

		<a class="navbar-brand mr-1" href="{{ url_for('admin', arg='home')}}">زكـــاة</a>		 
		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
		<ul class="navbar-nav navbar-right">
			<li class="nav-item">
				<a href="{{ url_for('logout') }}" class="nav-link">تسجيـــل الخروج</a>
			</li>
		</ul>
	</nav>
{% endblock nav_bar %}

{% block side_bar %}
	<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
		<div class="sidebar-sticky pt-3">
			<h2 class="h2">لوحــة التحكـــم</h2>
			<ul class="navbar-nav flex-column">
				<li class="nav-item">
					<li class="active">
						<a class="nav-link" href="{{ url_for('admin', arg='home')}}">احصائيـــــات</a>
					</li>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('admin', arg='Mosques') }}">المساجـــد</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('admin', arg='Donneurs') }}">المتبرعين</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('admin', arg='Criteres')}}">معايير تصنيف المحتاجين</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('admin', arg='Projets')}}">المشاريــــع</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('update_parameters')}}">ضبـــــط الاإعدادات</a>
				</li>
			</ul>
		</div>
	</nav>
	
{% endblock side_bar %}
{% block content %}
{% endblock content %}

