{% extends 'layout.html'%}
{% block styles %}
<style>
	.header {
		position: fixed;
		background:rgba(0,0,0,.2);
		width: 100%;
	}
	header .header.sticky-active{
		background-color: white;
	}
</style>
{% endblock styles %}
{% block nav_bar %}
<div class="container">
		<nav class=" nav-header navbar navbar-expand-lg navbar-light thisFont">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="logo">
					<a href="{{ url_for('accueil') }}">
						<!--<img src="{{ url_for('static', filename='image/image72.png')}}">-->
					</a>
				</div>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
				<a class="nav-link" href="{{ url_for('accueil')}}">الرئيسيـــة <span class="sr-only">(current)</span></a>
				</li>
                <li>
					<a class="nav-link" href="#defintion">التعريف بالموقــــع</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#project">المشاريـــع</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('login') }}">تسجيل الدخـــول</a>
				</li>
			</ul>
			</div>
		</nav>

</div>
{% endblock nav_bar %}
{% block content %}
	<div class="container">
		|<div class="container-fluid" style="background-image: url('../static/image/great.png');">
			
		</div>
	</div>
{% endblock content %}
<!-- {% block scripts %}
	<script>
		$(window).on('load',function() {
			$('.pageloader').fadeOut(10)
		});	
	</script>
{% endblock scripts %}->
