<!DOCTYPE html>
<html lang="ar" dir="rtl">  
  	<head>
		<!--styles-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-rtl.css') }}">
		<meta name="author" content="OUAREM Oualid">
		<meta name="description" content="وقف على شكل نظام آلي لتسيير الصدقات و الزكوات المودعة لدى المساجد">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<style>
			.defintion-loader{
				position: absolute;
				top: 0;
				bottom: 0%;
				left: 0;
				right: 0%;
				background-color: white;
				z-index: 99;
			}
		</style>
		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title>زكـــاة</title>
		{% endif %}
	</head>
	
	<body>
		
		<div class="defintion-loader" style="display: none;">
			
			<div align="center">
				<img src="{{ url_for('static', filename='image/image72.png')}}" >
				<h1 class="thisFont" style="color: #00625dff;">
					وقــف
				</h1>
				<h1 class="thisFont" style="color: #00625dff;">
					شلابيـة بشباش -رحمها الله -
				</h1>
			</div>
		</div>
		{% block nav_bar %}
		{% endblock nav_bar %}
		<div class="container-fluid thisFont">
			<div class="row">
				{% block side_bar %}
				{% endblock side_bar %}
				{% block content %}
				{% endblock content %}	
			</div>	
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		{% block scripts %}
		{% endblock scripts %}

	</body>
</html>

  