<!DOCTYPE html>
<html lang="ar" dir="rtl">  
  	<head>
		<!--styles-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-rtl.css') }}">
		<meta name="author" content="OUAREM Oualid">
		<meta name="description" content="وقف على شكل نظام آلي لتسيير الصدقات و الزكوات المودعة لدى المساجد">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<style>
			.pageloader {
				position:fixed;
				left:0;
				top:0;
				bottom:0;
				right:0;
				background-color:white;
				z-index:99999;
			}
		</style>
		{% block styles %}
		{% endblock styles %}

		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title>زكـــاة</title>
		{% endif %}
	</head>
	
	<body>
		
		<div class="pageloader">
			<div align="center">
				<img height="25%" width="25%" src="{{ url_for('static', filename='image/image72.png')}}" >
				<h1 class="thisFont" style="color: #00625dff;">
					وقــف
				</h1>
				<h1 class="thisFont" style="color: #00625dff;">
					شلابيـة بشباش -رحمها الله -
				</h1>
			</div>
		</div>
		<div style="width: 100%;">
			{% block nav_bar %}
			{% endblock nav_bar %}
		</div>
		<div class="container-fluid thisFont">
            {% block side_bar %}
			{% endblock side_bar %}
            {% block content %}
            {% endblock content %}
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='custom-scripts.js') }}"></script>
		
		{% block scripts %}
		{% endblock scripts %}

	</body>
</html>

  