{% extends 'c_projects.html' %}

{% block content_for_projects %}
	<!--champs pour la recherche avec saisie automatique-->
	{%if content['data'] %}
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					{% with columns = content['columns'] %}
						{% if columns %}
							{% for colonne in columns %}
								<th>{{colonne}}</th>
							{% endfor %}
						{% endif %}
					{% endwith %}
				</tr>
			</thead>
			<tbody>
				{% for line in content['data'] %}
				<tr>
					<td>{{line.id}}</td>
					<td>{{line.montant_estime}}</td>
					<td>{{line.montant_quantise}}</td>
					<td>{{line.Description}}</td>
					
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="alert alert-info text-center">
			<span>لم يتم إضافــة أية مشاريــــع . </span>
		</div>
	
	{% endif %}

{% endblock content_for_projects %}