{%extends 'layout.html'%}

{% block side_bar %}

<nav  id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
	
	<div class="sidebar-sticky pt-3">
		<h2 class="h2">لوحــة التحكـــم</h2>
		<ul class="navbar-nav flex-column">
			<li class="nav-item">
				<a class="nav-link " href="{{ url_for('mosque', arg=content['mosque'].id) }}">
					الرئيسيــــة 
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('register_garants') }}">
					تسجيـــل محتـــاج
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('register_donnation') }}">
					تسجيـــل علمية تبـــرع
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('update_info', arg = content['mosque'].id) }}" >
					
					تعديل المعلومات
				</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('list_garants', argument='*') }}">
					عرض قائمــة المحتاجيـــن
				</a>
				</li>
			
		</ul>

	  
	</div>
  </nav>

{% endblock side_bar %}

{% block nav_bar %}
	<nav dir="ltr" class="navbar navbar-dark sticky-top bg-dark">
		
		<ul class="navbar-nav navbar-right">
			<li class="nav-item">
				<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</li>
			<li class="nav-item">
				<a href="{{ url_for('logout') }}" class="nav-link">تسجيـــل الخروج</a>
			</li>
		</ul>
	</nav>
{% endblock nav_bar %}

{% block content %}

	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			{% if content %}
				<h1 class="h1">مسجـــد {{ content.nom }} </h1>
			{% else %}
				<h1 class="h1">لوحــة التحكـــم</h1>
			{% endif %}
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
							<h5 class="h5">
								عـدد المسجليـن
							</h5>
						</div>
						<div class="text-right card-body">
							<h1 class="h1">
								{{ content['mosque'].inscrits|length }}
							</h1>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
							<h5 class="h5">
								
								الميــزان المالي

							</h5>
						</div>
						<div class="text-right card-body">
							<h1 class="h1">
								{{ content['somme_total'] }} د.ج
							</h1>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
							<h5 class="h5">
								
							</h5>
						</div>
						<div class="card-body">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock content %}
