{% extends 'c_donnations.html' %}
{% block header %}
    {% if content %}
        <h1 class="h2">مسجـــد {{ content.nom}} </h1>
    {% else %}
        <h1 class="h1">لوحة التحكــم</h1>
    {% endif %}
{% endblock header%}
{% block block_for_donations %}
	<form method="POST">
        {{form_m.hidden_tag()}}
        <fieldset class="form-group">
        	<div class="form-group">
            {{ form_m.donneur.label(class="form-control-label") }}
            {{ form_m.donneur(class="col-md-4 form-control form-control-md") }}
                    </div>
        	<div class="form-group">
                {{ form_m.montant.label(class="form-control-label") }}
                {% if form_m.montant.errors %}
                    {{ form_m.montant(class="form-control from-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form_m.montant.errors %}                            
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
               {% else %}
                    {{ form_m.montant(class="form-control from-control-md") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
        	<div class="form-group">
                        {{ form_m.submit(class="btn btn-outline-info") }}
                    </div>
        </div>
    </form>

{% endblock block_for_donations %}