{% extends 'c_projects.html' %}
{% block content_for_projects %}
            <div class="row">
                <div class="col-md">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for categorie , message in messages %}
                                <div class="alert alert-{{ categorie }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
            <form method="POST">
                {{ form_m.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form_m.title.label(class="form-control-label") }}
                        {% if form_m.title.errors %}
                            {{ form_m.title(class="form-control from-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_m.title.errors %}                            
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_m.title(class="form-control from-control-md") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form_m.Description.label(class="form=control-label") }}
                        {% if form_m.Description.errors %}
                            {{ form_m.Description(class="form-control from-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_m.Description.errors %}                           
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_m.Description(class="form-control from-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form_m.montant_estime.label(class="form=control-label") }}
                        {% if form_m.montant_estime.errors %}
                            {{ form_m.montant_estime(class="form-control from-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_m.montant_estime.errors %}                           
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_m.montant_estime(class="form-control from-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                    <div class="form-group">
                        {{ form_m.submit(class="btn btn-outline-info") }}
                    </div>
            </form>
{% endblock content_for_projects %}
