{% extends 'admin.html' %}
{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="row">
                <div class="col-md">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for categorie , message in messages %}
                                <div class="alert alert-{{ categorie }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        <form method="POST">
            {{ form_m.hidden_tag() }}
            <fieldset class="form-group" id="accordion">
                <div class="form-group">
                    {{ form_m.taux_scolaire.label(class="form-control-label") }}
                    {% if form_m.taux_scolaire.errors %}
                        {{ form_m.taux_scolaire(class="form-control from-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form_m.taux_scolaire.errors %}                            
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form_m.taux_scolaire(class="form-control from-control-md") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_m.taux_prime_m.label(class="form=control-label") }}
                    {% if form_m.taux_prime_m.errors %}
                        {{ form_m.taux_prime_m(class="form-control from-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form_m.taux_prime_m.errors %}                           
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form_m.taux_prime_m(class="form-control from-control-lg") }}
                    {% endif %}
                </div>
                        
                    </fieldset>
                    
                        <div class="form-group">
                            {{ form_m.submit(class="btn btn-outline-info") }}
                        </div>
                    </div>
                        
        </form>
    </main>
{% endblock content %}
