<!DOCTYPE html>
<html dir="rtl" xml:lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
        <div align="center" class="container thisFont">
            <div class="card col-md-4">
                <div class="card-body">
                    <form method="POST" action = "">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">    
                                <legend class="border-bottom mb-4">
                                    {{title}}
                                </legend>
                                <img style="padding-bottom: 10px;"src="{{ url_for('static', filename='image/logo.png') }}" alt="" class="card-img-top">
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                            {% for categorie , message in messages %}
                                            <div class="alert alert-{{ categorie }}">
                                                {{ message }}
                                            </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                    <div class="form-group">
                                        {{ form.token.label(class="form=control-label") }}
                                        {% if form.token.errors %}
                                            {{ form.token(class="form-control from-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.token.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.token(class="form-control from-control-lg") }}
                                        {% endif %}
                                    </div>
                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                    </form>
                </div>
            </div>        
        </div>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
</body>
</html>