{% extends './includes/mosque_layout.html' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
{% endblock stylesheets%}
{% block mosque_content %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            {% if content   %}
                <h1 class="h2">مسجـــد {{  session['mosque_name']}} </h1>
            {% endif %}
        </div>
        <form method="POST">
            {{form.hidden_tag()}}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <fieldset>
                <div class="form-row">
                    <div class="col-md">
                        <div class="form-group">
                            {{ form.project.label(class='form-control-label') }}
                            {% if form.project.errors %}
                                {{ form.project(class="select-project form-control from-control-md") }}
                                {% for error in form.project.errors %}
                                    <div class="alert alert-danger">

                                        <span>{{ error }}</span>

                                    </div>
                                {% endfor %}
                           {% else %}
                                {{ form.project(class="select-project form-control from-control-md") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md">
                        <div class="form-group">
                            {{ form.first_name.label(class='form-control-label') }}
                            {% if form.first_name.errors %}
                                {{ form.first_name(class="form-control from-control-md") }}
                                {% for error in form.first_name.errors %}
                                    <div class="alert alert-danger">

                                        <span>{{ error }}</span>

                                    </div>
                                {% endfor %}
                           {% else %}
                                {{ form.first_name(class=" form-control from-control-md") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            {{ form.last_name.label(class='form-control-label') }}
                            {% if form.last_name.errors %}
                                {{ form.last_name(class="form-control from-control-md") }}
                                {% for error in form.last_name.errors %}
                                    <div class="alert alert-danger">

                                        <span>{{ error }}</span>

                                    </div>
                                {% endfor %}
                           {% else %}
                                {{ form.last_name(class=" form-control from-control-md") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            {{ form.phone_number.label(class='form-control-label') }}
                            {% if form.phone_number.errors %}
                                {{ form.phone_number(class="form-control from-control-md") }}
                                {% for error in form.phone_number.errors %}
                                    <div class="alert alert-danger">

                                        <span>{{ error }}</span>

                                    </div>
                                {% endfor %}
                           {% else %}
                                {{ form.phone_number(class=" form-control from-control-md") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md">
                        <div class="form-group">
                            {{ form.montant.label(class="form-control-label") }}
                            {% if form.montant.errors %}
                                {{ form.montant(class="form-control from-control-md") }}
                                {% for error in form.montant.errors %}
                                    <div class="alert alert-danger">
                                        <span>{{ error }}</span>
                                    </div>
                                {% endfor %}
                           {% else %}
                                {{ form.montant(class="form-control from-control-md") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </div>
        </form>
    </div>
{% endblock mosque_content %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.select-project').select2();
        })
    </script>
{% endblock scripts %}