{% extends './includes/mosque_layout.html' %}

{% block mosque_content %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            {% if content   %}
                <h1 class="h2">مسجـــد {{  session['mosque_name']}} </h1>
            {% endif %}
        </div>
        <form method="POST">
            {{form.hidden_tag()}}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category , message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <fieldset class="form-group">
                <div class="card">
                    <div class="card-header">
                        <h2>
                            تعديل كلمة المرور
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md">
                                <div class="form-group">
                                    {{ form.current_password.label(class="form-control-label") }}
                                    {% if form.current_password.errors %}
                                        {{ form.current_password(class="form-control from-control-lg is-invalid") }}
                                        <div class="alert alert-danger">
                                        {% for error in form.current_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.current_password(class="form-control from-control-md") }}
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                        <div class="form-row">
                             <div class="col-md">
                                <div class="form-group">
                                    {{ form.password.label(class="form-control-label") }}
                                    {% if form.password.errors %}
                                        {{ form.password(class="form-control from-control-lg is-invalid") }}
                                        <div class="alert alert-danger">
                                            {% for error in form.password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.password(class="form-control from-control-md") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md">
                                <div class="form-group">
                                    {{ form.confirm_password.label(class="form=control-label") }}
                                    {% if form.confirm_password.errors %}
                                        {{ form.confirm_password(class="form-control from-control-lg",placeholder="يوم/الشهر/السنة") }}
                                        <div class="alert alert-danger">
                                            {% for error in form.confirm_password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.confirm_password(class=" form-control from-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </div>
        </form>
    </div>
{% endblock mosque_content %}
